.dialog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  align-items: center;
}

.dialog-header {
  flex-basis: 50px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dialog-title {
  color: #000000b8;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 20px 0px 20px 25px;
}

.dialog-close {
  display: inline-block;
  width: 37px;
  height: 37px;
  color: #141414e8;
  cursor: pointer;
  margin-right: 15px;
}

.dialog-close:hover {
  background-color: rgba(220, 220, 220, 0.548);
  border-radius: 50%;
}

.bi-x-lg {
  position: relative;
  top: 5px;
  left: 9px;
}

.dialog-content {
  flex: 1;
  flex-direction: column;
  padding: 10px 15px 10px 25px;
  width: 100%;
  overflow-y: scroll;
}

.dialog-content-required {
  color: #767676;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: lighter;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
}

.dialog-content label {
  outline: none;
  color: #787878;
  font-size: 15px;
  font-weight: lighter;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif; 
}

.dialog-content input {
  outline: none;
  padding: 4px 8px;
  border: 1px groove #000000;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.dialog-content input:hover {
  border: 2px solid #000000;
}

.dialog-content select {
  outline: none;
  padding: 4px;
  border: 1px groove #000000;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.dialog-content select:hover {
  border: 2px solid #000000;
}

.dialog-content textarea {
  height: 70px;
  outline: none;
  padding: 4px;
  border: 1px groove #000000;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.dialog-content textarea:hover {
  border: 2px solid #000000;
}

.dialog-content-date {
  margin-top: 24px;
}

.dialog-content-subtitle {
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2a2a2a;
  margin-top: 25px;
  margin-bottom: 5px
}

.dialog-link {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  text-decoration: none;
}

.dialog-link:hover {
  background-color: rgba(193, 130, 233, 0.241);
}

.dialog-link-svg {
  position: relative;
  top: -2px;
  color: rgb(160 32 240);
  font-size: 17px;
}

.dialog-link-span {
  color: rgb(160 32 240);
  font-size: 17px;
}

.dialog-button {
  display: inline-block;
  outline: none;
  height: 35px;
  padding: 4px 15px 0px 10px;
  border-radius: 20px;
  color: rgb(160 32 240);
  background-color: white;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  border: 2px solid rgb(160 32 240);
  margin: 15px 0px 10px 0px;
}

.dialog-button:hover {
  background-color: rgba(193, 130, 233, 0.241);
  border: 3px solid rgb(160 32 240);
}

.dialog-button-svg {
  color: rgb(160 32 240);
}

.dialog-button-span {
  color: rgb(160 32 240);
}

.dialog-button-media {
  width: 170px;
}

.dialog-button-skills {
  width: 230px;
}

.dialog-content-info {
  font-size: 14px;
  color: black;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
}

.dialog-link-info {
  font-weight: bold;
  color: rgb(160 32 240);
}

.container-checkbox {
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}

.dialog-content label.container-checkbox {
  outline: none;
  color: #616161;
  font-size: 14px;
  font-weight: normal;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif; 
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: .2px solid #000000;
  background-color: #ffffff;
  border-radius: 3px;
}

.container-checkbox:hover input ~ .checkmark {
  border: 2px solid #000000;
}

.container-checkbox:hover input:checked ~ .checkmark {
  border: 2px solid #01754f;
}

.container-checkbox input:checked ~ .checkmark {
  border: none;
  background-color: #01754f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dialog-footer {
  flex-basis: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  border-top: 1px solid #ccc;
}

.dialog-success {
  width: 80px;
  height: 30px;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  background-color: rgb(160 32 240);
}

.dialog-success:hover {
  background-color: rgb(114, 22, 170);
}

.dialog-cancel {
  width: 90px;
  height: 30px;
  color: white;
  margin: 0px 25px 0 10px;
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  background-color: rgb(128, 128, 128);
}

.dialog-cancel:hover {
  background-color: rgb(69, 69, 69);
}