.dialog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  align-items: center;
}

.dialog-header {
  flex-basis: 50px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}

.dialog-title {
  color: #000000b8;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.dialog-close {
  color: #767676;
  cursor: pointer;
}

.dialog-close:hover {
  color: rgb(160 32 240);
}

.dialog-content {
  flex: 1;
  flex-direction: column;
  padding: 10px 15px 10px 25px;
  width: 100%;
  overflow-y: scroll;
}

.dialog-content p {
  color: #767676;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: lighter;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

.col-12 {
  display: flex;
  flex-direction: column;
  height: 50px;
}

.dialog-content label {
  outline: none;
  color: #767676;
  font-size: 15px;
  font-weight: lighter;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif; 
}

.dialog-content input {
  outline: none;
  padding: 2px;
  border: 1px groove #000000;
  border-radius: 3px;
}

.dialog-content input:hover {
  border: 2px solid #000000;
  border-radius: 3px;
}

.dialog-subtitle {
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2a2a2a;
  margin: 30px 0px 20px 0px;
}

.dialog-subtitle2 {
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2a2a2a;
  margin: 30px 0px 3px 0px;
}

.dialog-link-svg {
  position: relative;
  top: -2px;
  color: rgb(160 32 240);
  font-size: 17px;
}

.dialog-link {
  display: block;
  width: 200px;
  height: 35px;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
}

.dialog-link:hover {
  background-color: rgba(160, 32, 240, 0.241);
}

.dialog-link-button {
  color: rgb(160 32 240);
  font-size: 17px;
}

.dialog-link2 {
  display: block;
  width: 310px;
  height: 35px;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
}

.dialog-link2:hover {
  background-color: rgba(160, 32, 240, 0.241);
}

.dialog-link3 {
  display: block;
  width: 247px;
  height: 37px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 5px;
}

.dialog-link3:hover {
  background-color: rgba(160, 32, 240, 0.241);
}

.dialog-info {
  color: #767676;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: lighter;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

.dialog-footer {
  flex-basis: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  border-top: 1px solid #ccc;
}

.dialog-success {
  width: 80px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  background-color: rgb(160 32 240);
}

.dialog-success:hover {
  background-color: rgb(114, 22, 170);
}

.dialog-cancel {
  width: 90px;
  height: 30px;
  color: white;
  margin: 0px 25px 0 10px;
  border: none;
  border-radius: 50px;
  padding-top: 5px;
  font-size: 14px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  background-color: rgb(128, 128, 128);
}

.dialog-cancel:hover {
  background-color: rgb(69, 69, 69);
}