<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">

                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Change Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPasswordForm">

                            <div class="input-field">
                                <span (click)="hideShowPass1()" class="fa {{eyeIcon1}}"></span>
                                <input class="esconder-input" formControlName="password1" [type]="type1" placeholder="New Password">
                            </div>

                            <div class="pt-3">

                                <div class="input-field">
                                    <span (click)="hideShowPass2()" class="fa {{eyeIcon2}}"></span>
                                    <input class="esconder-input" formControlName="password2" [type]="type2" placeholder="Confirm New Password">
                                </div>
                            </div>

                            <div class="pt-5">
                                <button (click)="save()" type="submit" class="btn btn-primary color-button btn-block mt-4 w-100">Save</button>
                                <div class="text-center pt-4 text-muted black"><a id="forget" routerLink="/login">Back</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>