<div mat-dialog-container class="dialog-container">
  <div class="dialog-header">
    <h1 class="dialog-title">Scientific Article</h1>
    <span class="dialog-close" (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
      </svg>
    </span>
  </div>
  <form [formGroup]="formulario" class="dialog-content">
    <p class="dialog-content-required">* Indicates required item</p>
    <p *ngIf="!articleSelected" class="noArticle">No article selected</p>
    <div *ngIf="articleSelected">
      <p class="article">Selected article</p>
      <div class="article-container">
        <img src="../../../assets/img/icon-pdf.png" alt="PDF Standard Image">
        <p class="article"> {{ selectedFileArticleName }} </p>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-12">
        <label for="title">Title<span class="required">*</span></label>
        <input id="title" type="text" placeholder="Ex.: Artificial Intelligence" class="form-control form-control-sm" formControlName="title" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-12">
        <label for="OtherAuthors">Author(s)</label>
        <textarea formControlName="authors" id="OtherAuthors" rows="3" class="form-control form-control-sm"></textarea>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label for="day">Publication date<span class="required">*</span></label>
        <select formControlName="day" id="day" class="form-control form-control-sm">
          <option name="day" *ngFor="let dia of dias">{{dia}}</option>
        </select>
      </div>
      <div class="col-md-4 dialog-content-date">
        <select formControlName="month" id="month" class="form-control form-control-sm">
          <option name="month" *ngFor="let mes of meses">{{mes}}</option>
        </select>
      </div>
      <div class="col-md-4 dialog-content-date">
        <select formControlName="year" id="year" class="form-control form-control-sm">
          <option name="year" *ngFor="let ano of anos">{{ano}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12">
        <label for="numberPages">Number of pages<span class="required">*</span></label>
        <input formControlName="numberPages" id="numberPages" type="number" placeholder="Ex.: 195" class="form-control form-control-sm" />
        <div *ngIf="formulario.get('numberPages')?.hasError('pattern') && formulario.get('numberPages')?.touched" class="text-danger">
          Only numbers are allowed.
        </div>
      </div>
    </div>
  </form>
  <div class="dialog-footer">
    <label for="article" class="btn-article">Open file</label>
    <input type="file" name="article" id="article" accept="application/pdf" (change)="fileChangedArticle($event)">
    <button class="dialog-success" (click)="save()">Save</button>
    <button class="dialog-cancel" (click)="closeDialog()">Cancel</button>
  </div>
</div>