.noArticle {
  outline: none;
  color: #be0b0b;
  font-size: 15px;
  font-weight: lighter;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.article {
  outline: none;
  color: #787878;
  font-size: 15px;
  font-weight: lighter;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
}

.article-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin-bottom: 20px;
}

.article-container img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#article {
  display: none;
}

.btn-article {
  position: relative;
  width: 130px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  padding: 4px 0px 1px 0px;
  border-radius: 20px;
  border: 2px solid #7f408e;
  color: #7f408e;
  background-color: white;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-article:hover {
  background-color: rgba(193, 130, 233, 0.241);
  border: 3px solid #7f408e;
}