.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-container {
  padding: 10px 25px;
  flex-basis: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 80px;
  position: relative;
}

.principal-container {
  display: flex;
  padding: 30px 0;
}

.info-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 0;
}

.dynamic-content-container {
  width: calc(100% - 300px);
  padding: 0 30px 0 15px;
}

.contacts {
  position: sticky;
  top: 70px;
}

footer {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  side-bar {
    display: none;
  }

  footer {
    display: block;
  }

  section {
    overflow-x: hidden;
  }

  .content-container {
    width: 100%;
    height: 100vh;
    margin: auto;
    top: 80px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* .header-container-bg {
    background-color: rgb(71, 120, 255);
  } */

  .content-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* .header-container-bg {
    background-color: rgb(207, 236, 42);
  } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* .header-container-bg {
    background-color: rgb(240, 26, 80);
  } */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .header-container-bg {
    background-color: rgb(114, 5, 90);
  } */
}
