<div class="register-container">
  <div class="register-info">
    <h1 class="title">School Records</h1>
  </div>
  <div class="login">
    <div class="container container-login">
      <p class="sign-up">Sign up</p>
      <form class="form-login" [formGroup]="user">
        <div class="row form-group">
          <div class="col-12">
            <input type="text" placeholder="Username" formControlName="userName" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <input type="text" placeholder="Email" formControlName="email" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <div class="input-field password-field">
              <input [type]="type" placeholder="Password" formControlName="password" />
              <span id="toggleBtn" (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <button class="btn-login" (click)="register($event)">
              Sign up
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a [routerLink]="'/login'" class="to-go-back">To go back</a>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
