<div mat-dialog-container class="dialog-container">
  <div class="dialog-header">
    <div class="publication-header">
      <div class="image-container">
        <img             
          *ngIf="dados?.foto"
          [src]="dados.foto" 
        />
      </div>
      <div class="publication-header-info">
          <a href="" class="name-user">{{ dados?.perfilName }}</a>
          <p class="visibility">Publish to all</p>
      </div>
    </div>
    <span class="dialog-close" (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
      </svg>
    </span>
  </div>
  <div class="dialog-content" >
    <form action="" [formGroup]="formulario">
      <textarea type="text" placeholder="What are you thinking?" formControlName="Post"  ></textarea>
    </form>
    <img *ngIf="formulario.get('Midia')?.value && fileType == 'image'" [src]="formulario.get('Midia')?.value" alt="Post image">
    
    <video *ngIf="formulario.get('Midia')?.value && fileType == 'video'" controls>
      <source [src]="formulario.get('Midia')?.value" type="video/mp4">
    </video>
  </div>
  <div class="publication-media-container">
    <label for="media" class="publication-media-btn">
      <div class="add-media">
        <input type="file" name="media" id="media" (change)="fileChangedMedia($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image publication-svg" viewBox="0 0 16 16">
          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
        </svg>
        <div class="inner">
          <div class="add-media-box">
            <p>Add media</p>
          </div>
        </div>
      </div>
    </label> 
  </div>
  <div class="dialog-footer">
    <button class="dialog-success" (click)="save()">Publish</button>
    <button class="dialog-cancel" (click)="closeDialog()">Cancel</button>
  </div>
</div>

