.header-container-bg {
  background: #f5f7f7;
  padding: 10px 20px;
  position: fixed;
  width: calc(100% - 60px);
  height: 80px;
  margin-left: 60px;
  border: 1px solid #eee7e7;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  padding: 0;
  margin: 0;
}

.welcome {
  flex-basis: 20%;
  flex-shrink: 0;
}

.container-info-person {
  display: flex;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.salutation {
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  margin-right: 3px;
}

.user {
  font-family: Roboto-Light, Arial, sans-serif;
  margin-right: 3px;
}

.welcome-porfolio {
  font-family: Roboto-Light;
  font-size: 0.825rem;
  color: #959393;
}

.search {
  background: url(../../../assets/img/search.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
  padding: 0px 35px;
  border-radius: 50px;
  border-color: #e4e4e4;
  border-style: solid;
  color: #a1a1a1;
  height: 50px;
  outline: none;
  font-family: Popins-Regular, sans-serif;
  font-size: 0.8rem;
}

.search:focus {
  border-color: #e4daf3;
}

.icons {
  max-width: 400px;
  display: flex;
  margin: 0 0 0 3.5%;
  flex-basis: 100%;
  justify-content: space-around;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  height: 44px;
  flex-basis: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 20px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.btn-icon i {
  position: absolute;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  color: #7f408e;
  font-size: 20px;
}

.btn-icon input {
  width: 100%;
  position: relative;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #fff;
  padding: 10px 0 10px 15px;
  font-family: Popins-Regular, sans-serif;
}

#btn-mobile {
  display: none;
}

.dropdown-notification-container {
  position: relative;
  display: flex;
  margin-right: 20px;
}

.dropdown-notification-btn {
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #fff;
  padding: 0px 0 0px 12px;
  font-family: Popins-Regular, sans-serif;
  cursor: pointer;
}

.dropdown-notification-icon {
  font-size: 20px;
  color: #7f408e;
}

.dropdown-notification-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-notification-profile-container {
  display: flex;
  flex-direction: column;
}

.dropdown-notification-profile {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.img-container {
  width: 60px; 
  height: 55px; 
  border-radius: 50%;
  margin-right: 10px;
  background-image: url(../../../assets/img/people.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: darkgray;
  background-position: center;
  cursor: pointer;
}

.img-container img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-notification-profile-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
}

.info-notification-profile {
  display: flex;
  flex-direction: row;
}

.name-notification-profile {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 500;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.title-notification-profile {
  position: relative;
  max-height: 20px;
  overflow: hidden;
  top: -2px;
  font-size: 13px;
  color: #4e4e4e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.dropdown-notification-button-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
  gap: 10px;
}

.dropdown-notification-button {
  display: inline-block;
  outline: none;
  width: 50%;
  height: 29px;
  padding: 2px 0px 0px 0px;
  border-radius: 20px;
  color: #7f408e;
  background-color: white;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  border: 2px solid #7f408e;
  font-size: 15px;
}

.dropdown-notification-button:hover {
  background-color: rgba(193, 130, 233, 0.241);
  border: 3px solid #7f408e;
}

.show-notification {
  display: block;
  right: 0;
  position: absolute;
  width: 290px;
  top: 50px;
  background-color: white;
  border-radius: 10px 0px 10px 10px;
  box-shadow: 0px 2px 4px 0px #00000061;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  width: auto;
  position: relative;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #fff;
  padding: 10px 0 10px 15px;
  font-family: Popins-Regular, sans-serif;
  cursor: pointer;
}

.dropdown-icon {
  font-size: 20px;
  color: #7f408e;
}

.dropdown-span {
  flex-grow: 1;
  text-align: center;
}

.dropdown-svg {
  position: relative;
  left: -3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-profile-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1db;
  margin-bottom: 10px;
}

.dropdown-profile {
  padding: 2px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.image-container {
  width: 60px; 
  height: 55px; 
  border-radius: 50%;
  margin-right: 10px;
  background-image: url(../../../assets/img/people.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: darkgray;
  background-position: center;
  cursor: pointer;
}

.image-container img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-profile-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
}

.info-profile {
  display: flex;
  flex-direction: row;
}

.name-profile {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 500;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.title-profile {
  position: relative;
  max-height: 20px;
  overflow: hidden;
  top: -2px;
  font-size: 13px;
  color: #4e4e4e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.dropdown-profile-button {
  display: inline-block;
  outline: none;
  height: 29px;
  padding: 2px 0px 0px 0px;
  border-radius: 20px;
  color: #7f408e;
  background-color: white;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  border: 2px solid #7f408e;
  margin: 0px 10px 10px 10px;
  font-size: 15px;
}

.dropdown-profile-button:hover {
  background-color: rgba(193, 130, 233, 0.241);
  border: 3px solid #7f408e;
}

.exit {
  font-size: 15px;
  color: #777777ed;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  margin: 15px;
}

.show {
  display: block;
  right: 0;
  position: absolute;
  width: 290px;
  top: 50px;
  background-color: white;
  border-radius: 10px 0px 10px 10px;
  box-shadow: 0px 2px 4px 0px #00000061;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  /* .header-container-bg {
    background-color: tomato;
  } */

  .salutation,
  .user {
    font-size: 1.125rem;
  }

  .welcome-porfolio,
  .salutation {
    display: none;
  }

  .header-container-bg {
    width: 100%;
    margin: 0;
  }

  .header-salutation {
    display: none;
  }

  .header-notifications {
    display: flex;
    flex-basis: 45px !important;
    margin-left: 10px;
  }

  .notifications {
    display: none;
  }

  .dropdown-span {
    display: none;
  }

  .dropdown-profile-button {
    padding: 1px 0px 0px 0px;
  }

  #btn-mobile {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* .header-container-bg {
    background-color: rgb(71, 120, 255);
  } */

  .salutation,
  .user {
    font-size: 1.125rem;
  }

  .welcome-porfolio {
    display: none;
  }

  .header-salutation {
    flex-basis: 21% !important;
  }

  .header-search {
    width: 70%;
  }

  .header-notifications {
    display: flex;
    flex-basis: 45px !important;
    margin-left: 10px;
  }

  .notifications {
    display: none;
  }

  .dropdown-span {
    display: none;
  }

  #btn-mobile {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* .header-container-bg {
    background-color: rgb(207, 236, 42);
  } */

  .salutation,
  .user {
    font-size: 1rem;
  }

  .btn-icon {
    background: white;
    width: 45px;
    border-radius: 50%;
  }

  .user-profile {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* .header-container-bg {
    background-color: rgb(240, 26, 80);
  } */

  .salutation,
  .user {
    font-size: 1.125rem;
  }

  .btn-icon {
    background: white;
    width: 45px;
    border-radius: 50%;
  }

  .user-profile {
    display: none;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .header-container-bg {
    background-color: rgb(114, 5, 90);
  } */

  .salutation,
  .user {
    font-size: 1.2rem;
  }
}
