.header-container-bg{
  background: #f5f7f7;
  padding: 10px 20px;
  position: fixed;
  width: calc(100% - 60px);
  height: 80px;
  margin-left: 60px;
  border: 1px solid #eee7e7;
  z-index: 1;  
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  padding: 0;
  margin: 0;
}

.welcome{
  max-width: 350px;
  /* flex-basis: 20%; */
  flex-shrink: 0;
}

.container-info-person{
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.container-info-person > p:first-of-type{
  font-weight: bold;
  font-family: Roboto,Arial, sans-serif;
  margin-right: 3px;
}

.container-info-person > p:last-child{
  font-family: Roboto-Light, Arial, sans-serif;
  margin-right: 3px;
}

.salutation {
  font-family: Roboto-Light;
  font-size: 0.825rem;
  color: #959393;
}

.search{
  background: url(../../../assets/img/search.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
  padding: 0px 35px;
  border-radius: 50px;
  border-color: #e4e4e4;
  border-style: solid;
  color: #a1a1a1;
  height: 50px;
  outline: none;
  font-family: Popins-Regular, sans-serif;
  font-size: 0.8rem;

}

.search:focus {
  border-color: #e4daf3;
}

.icons {
  max-width: 400px;
  display: flex;
  margin: 0 1% 0 3.5%; 
  flex-basis: 100%;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  height: 44px;
  flex-basis: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 20px;
}

 .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.btn-icon i {
  position: absolute;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  color: #7f408e;
  font-size: 20px;
}

.btn-icon input {
  width: 100%;
  position: relative;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #fff;
  padding: 10px 0 10px 15px;
  font-family: Popins-Regular, sans-serif;
}

#btn-mobile{
  display: none;
}

@media (max-width: 1485px){
   #btn-mobile{
    display: block;
   }

   .icons{
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background:#e7e7e7;
     transition: .6s;
    z-index:1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden; 
   }

   

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border:none;
    background: none ;
    cursor:pointer;
    gap: .5rem;
  }

  #hamburger{
    border-top:2px solid;
    width: 20px;
  }

  #hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background:currentColor;
    margin-top:5px ;
    transition: .3s;
    position: relative;
  }
}

@media(max-width: 800px){
  #btn-mobile{
    display: block;
  }

  .search{
    display: none;
  }

  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border:none;
    background: none ;
    cursor:pointer;
    gap: .5rem;
  }

  #hamburger{
    border-top:2px solid;
    width: 20px;
  }

  #hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background:currentColor;
    margin-top:5px ;
    transition: .3s;
    position: relative;
  }
}























