.publication-container {
  padding: 25px 20px;
  margin-top: 30px;
  border-radius: 10px 10px 10px 10px;
  background-color: #fafcfe;
  box-shadow: 3px 3px 5px #707070;
  height: 410px;
  overflow-y: scroll;
}

.title {
  font-size: 1.5em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.publications {
  margin-top: 20px;
}

.publications li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.publications li:last-of-type {
  margin-bottom: 0;
}

.publications img {
  width: 50px;
  height: 50px;
}

.publication-info {
  margin-left: 20px;
}

.publication-post {
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  max-height: 25px;
  overflow: hidden;
}

.publication-date {
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  color: #959393;
  max-height: 20px;
  overflow: hidden;
}

.loading {
  position: relative;
  margin-top: 20px;
}

.publications-loaded {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  justify-content: center;
}

.publication-container-fixed {
  position: fixed;
  top: 70px;
}