.feed-container {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  padding: 20px 25px;
}

.info-container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  padding: 0 1% 0 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.timeline {
  /* width: calc(100% - 300px); */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 80%;
  padding-left: 10px;
}

::ng-deep .botao-home button {
  background-color: aquamarine !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .feed-container {
    width: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
  }

  .info-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .info-container {
    display: none;
  }

  .feed-container {
    padding: 0;
  }

  .timeline {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
