<div class="perfil-container">
  <div class="perfil">
    <p class="resum-data">Resume Data</p>
    <form>
      <div class="form">
        <div class="form-container1">
          <div class="form-group">
            <input type="text" placeholder="Full Name" required />
          </div>
          <div class="form-group">
            <input type="date" required />
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="email" placeholder="Confirm your email" required />
          </div>
        </div>

        <div class="image-profile-container">
          <img
            src="../../../assets/img/profile-picture.png"
            alt="Profile picture"
          />

          <div class="file-image-container" id="button-file-container">
            <img src="../../../assets/img/file.png" id="img-profile" />
          </div>
          <input
            type="file"
            accept="image/png, image/jpeg"
            id="file-img-input"
            required
          />
        </div>
      </div>

      <div class="form2">
        <div class="form-group">
          <input type="text" placeholder="State" required />
        </div>
        <div class="form-group">
          <input type="text" placeholder="City" required />
        </div>
      </div>
      <div class="senha-container">
        <div class="senha">
          <div class="form-group">
            <input type="password" placeholder="Password" required />
          </div>
        </div>
        <div class="senha">
          <div class="form-group">
            <input
              type="password"
              placeholder="Confirm your password"
              required
            />
          </div>
        </div>
      </div>

      <!-- TESTANDO COLOCAR DENTRO -->
      <div class="btn-container-update">
        <button class="btn-update">Update</button>
      </div>
    </form>
  </div>
</div>
