.card {
  border-radius: 10px;
}

.advertising,
.about,
.analytics,
.education,
.skills {
  margin-top: 1vh;
}

.add:hover,
.pencil:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 50%;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cover-image {
  width: 100%;
  height: 200px;
  background-image: url("../../assets/img/coverPhoto.png");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.edit-cover {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: -26vh;
  margin-right: 0.5vw;
}

.edit-profile {
  margin-top: 2vh;
  margin-right: 1vw;
  padding: 2px;
}

.photo-item {
  margin-left: 10px;
  width: 150px;
  height: 150px;
  position: relative;
  transform: translate(30%, -70%);
  z-index: 1;
  left: -35px;
  margin-bottom: -100px;
}

.upload-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: darkgray;
  background-image: url(../../assets/img/people.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 4px solid white;
}

.file-upload-button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-circle .file-upload-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1vw;
}

.profile-title {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 1vw;
}

.profile-location {
  margin-top: 5px;
  margin-left: 1vw;
  font-size: 12px;
  color: grey;
}

.profile-connections {
  margin-top: 5px;
  margin-left: 1vw;
}

.college {
  margin-top: 7vh;
}

.college-name {
  font-size: 10px;
}

.buttons {
  margin-top: 5px;
  margin-left: 1vw;
}

.work-status {
  padding: 10px 20px 10px 20px;
}

.button-details {
  margin-top: -20px;
}

.sr-premium {
  width: 100%;
  height: auto;
}

.premium-desc {
  margin-top: -7vh;
}

/* responsividade */
@media (max-width: 768px) {
  .perfil {
    padding: 10px 0px 60px 0px;
    margin: 0;
  }

  .card {
    border-radius: 0px;
  }

  .college .media-left {
    display: none;
  }

  .college .media-content {
    width: 100%;
    margin-top: -5vh;
  }
}
