.perfil-container {
  display: flex;
  justify-content: center;
}

.perfil {
  background-color: #fff;
  box-shadow: 3px 3px 5px #707070;
  border-radius: 10px 10px 10px 10px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  padding: 3%;
}

.resum-data {
  font-size: 2.5rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: row;
}

.form-container1 {
  width: 50%;
}

.form-group input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.875rem;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
}

.image-profile-container {
  display: flex;
  align-items: flex-end;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.image-profile-container img {
  width: 300px;
  height: 280px;
}

.file-image-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #7f408e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  top: 220px;
  left: -70px;
}

#img-profile {
  background-size: auto;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

input[type='file'] {
  display: none;
}

.form2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.senha-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.senha {
  width: 100%;
}

.btn-container-update {
  display: flex;
  justify-content: flex-end;
}

.btn-update {
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  border-style: solid;
  border-color: #7f408e;
  background-color: #7f408e;
  outline: none;
  font-size: 1rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}
