<div class="scaffold-layout">
  <section class="perfil-container">
    <section class="grid-item1">
      <div class="item1-img">
        <div class="item1-background">
          <img src="../../assets/img/coca.jpg" alt="profile-background" />
        </div>

        <div class="item-button">
          <label class="file-upload">
            <input type="file" name="file" />
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </label>
        </div>

        <div class="photo-item">
          <div class="upload-circle">
            <input type="file" id="file-upload-" class="file-upload-button" />
            <img for="file-upload-button" />
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>

      <div class="item1-date">
        <!-- Botão para formulário -->
        <!-- <a mat-raised-button (click)="openDialog()"> -->
        <div class="item-button-date">
          <label class="file-upload">
            <!-- <input type="file" name="file" /> -->
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </label>
        </div>
        <!-- </a> -->

        <div class="container-date">
          <div class="userName" id="userName">
            <h1>Jonas Cardoso <sup id="pronouns">(HE/Him)</sup></h1>
          </div>
          <div class="info-more">
            <a href="/">Faculadade de tecnologia de São paulo</a>
          </div>
          <div class="softkills">
            <p>Desenvolvedor Front-end | JavaScript | HTML | CSS | Angular</p>
          </div>
          <div class="item-date-city">
            <p id="city">
              São Paulo, São Paulo, Brazil<span class="separation"> . </span>
              <a href="/">Contact info</a>
            </p>
          </div>
          <div class="connections">
            <a href="/">500+ connections</a>
          </div>

          <div class="more">
            <button class="button-more">More</button>
          </div>
        </div>
      </div>

      <div class="container-openToWork">
        <div class="item-openToWork">
          <strong>Open to work</strong>
          <p>Frontend Developer roles</p>
          <a href="/">Show datails</a>
        </div>
      </div>

      <section class="container-bg">
        <div class="container-education">
          <h1>Education</h1>
          <div class="icon-education">
            <div class="item-plus">
              <a href="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </a>
            </div>
            <div class="item-pen">
              <a href="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  height="22"
                  fill="currentColor"
                  class="bi bi-pen"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="container-info-education">
          <div class="info-education-logo">
            <a href="/">
              <img src="../../assets/img/cloud-arrow-up.svg" />
            </a>
          </div>
          <div class="item-info-education">
            <h3>Faculdade Engenheiro Salvador Arena</h3>
            <p>Bachelor's degree, Engineering</p>
            <p>Jav 2017 - Nov 2021</p>
          </div>
        </div>
      </section>

      <section class="container-bg">
        <div>skills</div>
      </section>

      <section class="container-bg">
        <div>Analytics</div>
      </section>

      <section class="container-bg">
        <div>Analytics</div>
      </section>
    </section>

    <section class="sidebar">
      <section class="profile-info">
        <div class="flex-container">
          <div class="flex-item">
            <a href="/">Edit public profile & URL</a>
            <svg width="16" height="16" viewBox="0 0 16 16">
              <path
                d="M8 1a7 7 0 107 7 7 7 0 00-7-7zm0 11.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zM8.82 9H7v-.95l.93-.46C8.64 7.24 9 6.89 9 6.6S8.57 6 8 6a6.49 6.49 0 00-3 .91V4.84A6.35 6.35 0 018.1 4c2 0 2.9 1 2.9 2.4 0 .9-.5 1.83-2.18 2.6z"
              ></path>
            </svg>
          </div>

          <hr />
          <div class="flex-item">
            <a href="/">Add profile in another language</a>
            <svg width="16" height="16" viewBox="0 0 16 16">
              <path
                d="M8 1a7 7 0 107 7 7 7 0 00-7-7zm0 11.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zM8.82 9H7v-.95l.93-.46C8.64 7.24 9 6.89 9 6.6S8.57 6 8 6a6.49 6.49 0 00-3 .91V4.84A6.35 6.35 0 018.1 4c2 0 2.9 1 2.9 2.4 0 .9-.5 1.83-2.18 2.6z"
              ></path>
            </svg>
          </div>
        </div>
      </section>

      <section class="container-premium">
        <div class="profile-info">
          <div class="flex-container">
            <div class="flex-item-premium">
              <p>Jonas, unlock your full potential with Linkedln Premium</p>

              <div class="flex-item-premium-row">
                <div class="premium-row-perfil">
                  <img src="../../assets/img/invitation.png" />
                </div>
                <div class="premium-row-logo">
                  <img src="../../assets/img/sr-logo-white.png" />
                </div>
              </div>

              <p>See who's viewed your profile in the last 90 days</p>
            </div>
            <div class="button-premium">
              <button class="button-premium-item" type="submit">
                Try for Free
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="learning">
        <div class="profile-info">
          <div class="container-learning-bg">
            <div class="container-learning">
              <div class="learning-logo">
                <img src="../../assets/img/sr-logo-white.png" />
              </div>
              <p>LEARNING</p>
              <h2>Add new skills with these courses, free for 24 hours</h2>
            </div>

            <section class="container-videos">
              <div class="container">
                <img src="../../assets/img/coca-1.jpg" alt="Imagem" />
                <button class="play-button"></button>
              </div>
            </section>

            <div container-video>
              <span class="video"><img src="/" /></span>
              <a href="">Using SQL with C++</a>
            </div>
          </div>
        </div>
      </section> -->
    </section>
  </section>
</div>
