.invitation-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
  padding: 0 25px 20px 25px;
}

.no-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, 50%);
}

.no-users-svg {
  fill: #7f408e;
}

.no-users-container p {
  margin-top: 30px;
  font-size: 20px;
  color: #7f408e;
  margin-left: 20px;
}

.invitation-container ul {
  width: 100%;
}

.invitation-content-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.invitation {
  width: 260px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-right: 20px;
}

.invitation-header {
  height: 110px;
  background-color: #7f408e;
  border-radius: 10px 10px 0 0;
}

.img-container {
  display: flex;
  justify-content: center;
}

a {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 50px;
  background-image: url(../../assets/img/people.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
}

.img-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.invitation-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.invitation-name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 70px;
}

.invitation-profession {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #424242;
  margin-top: 5px;
}

.button-container {
  position: relative;
  top: 50px;
}

.btn-connect {
  padding: 5px 50px;
  font-size: 0.9rem;
  border-radius: 30px;
  border-style: solid;
  border-color: #ccc;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #7f408e;
}

.btn-connect:hover {
  background: #7f408e;
  color: #fff;
}

.invites-loaded {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  justify-content: center;
}

@media (max-width: 800px) {
}
