<section class="invitation-container">
  <div *ngIf="noUsers" class="no-users-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-fill-exclamation no-users-svg" viewBox="0 0 16 16">
      <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
      <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"/>
    </svg>
    <p>No Users Found</p>
  </div>
  <ul>
    <div class="invitation-content-li">
      <li *ngFor="let invite of invites" class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="{{ invite.id }}">
              <img
                *ngIf="invite.image"
                [src]="convertBase64.converterBase64ParaImagem(invite.image)"
                alt="Invite"
              />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <div class="invitation-name">{{ invite.name }}</div>
          <div class="invitation-profession">{{ invite.education }}</div>
          <div class="button-container">
            <button class="btn-connect" (click)="sendInvite(invite)">
              <i class="fa fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
      </li>
    </div>
    <li class="loading">
      <ngx-loading
        [show]="loading"
        [config]="{
          backdropBorderRadius: '3px',
          primaryColour: '#f4f4f4',
          secondaryColour: '#f4f4f4',
          tertiaryColour: '#f4f4f4'
        }"
      ></ngx-loading>
    </li>
    <li class="invites-loaded" *ngIf="invitesLoaded"></li>
  </ul>
</section>
