<section class="invitation-container">
  <ul>
    <div class="invitation-content-li">
      <li *ngFor="let invite of invites" class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="{{ invite.id }}">
              <img
                [src]="convertBase64.converterBase64ParaImagem(invite.image)"
                alt="Invite"
              />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <div class="invitation-name">{{ invite.name }}</div>
          <div class="invitation-profession">{{ invite.education }}</div>
          <div class="button-container">
            <button class="btn-connect" (click)="sendInvite(invite)">
              <i class="fa fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
      </li>
    </div>
    <li class="loading">
      <ngx-loading
        [show]="loading"
        [config]="{
          backdropBorderRadius: '3px',
          primaryColour: '#f4f4f4',
          secondaryColour: '#f4f4f4',
          tertiaryColour: '#f4f4f4'
        }"
      ></ngx-loading>
    </li>
    <li class="invites-loaded" *ngIf="invitesLoaded"></li>
  </ul>
</section>
