.invitation-container {
  display: flex;
  flex-direction: row;
}

.dynamic-content-container {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 30px 0 20px 0;
  background-color: #fff;
  border: 1px solid #00000066;
  border-radius: 10px;
}

.input-search {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #939393;
  outline: none;
}

input::placeholder {
  color: #939393;
}

.img-container-search {
  display: flex;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}

.image-search {
  position: relative;
  width: 50px;
  height: 50px;
  top: 8px;
  left: -5px;
}

.invitation-content-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
  margin: 30px 0 0 0;
  background-color: #fff;
}

.invitation {
  position: relative;
  width: 280px;
  height: 410px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #00000066;
}

.invitation-header {
  height: 100px;
  background-color: #7f408e;
  border-radius: 10px 10px 0 0;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 120px;
  height: 120px;
  margin: 40px;
  border-radius: 50%;
}

.invitation-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 305px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.invitation-name {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  top: -30px;
}

.invitation-profession {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  top: -25px;
}

.button-container {
  position: relative;
  top: 50px;
}

.btn-connect {
  padding: 5px 50px;
  font-size: 0.9rem;
  border-radius: 30px;
  border-style: solid;
  border-color: #00000066;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #7f408e;
}
