<section class="invitation-container">
  <div class="dynamic-content-container">
    <div class="search-container">
      <input
        class="input-search"
        type="text"
        placeholder="No pending invitations"
      />
      <div class="img-container-search">
        <img
          class="image-search"
          src="../../../assets/img/search.png"
          alt="Search"
        />
      </div>
    </div>
    <div class="invitation-content-container">
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
      <div class="invitation">
        <div class="invitation-header">
          <div class="img-container">
            <a href="#">
              <img src="../../../assets/img/invitation.png" />
            </a>
          </div>
        </div>
        <div class="invitation-content">
          <p class="invitation-name">Fernanda Bottino</p>
          <p class="invitation-profession">Security Manager</p>
          <div class="button-container">
            <button class="btn-connect">Connect</button>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
