<section class="article-relevance-container">
  <div class="dynamic-content-container">
    <div class="doughnuts-charts-container">
      <div class="doughnut-chart-container">
        <canvas id="doughnut-chart-views"></canvas>
      </div>
      <div class="doughnut-chart-container">
        <canvas id="doughnut-chart-likes"></canvas>
      </div>
      <div class="doughnut-chart-container">
        <canvas id="doughnut-chart-relevant"></canvas>
      </div>
      <div class="doughnut-chart-container">
        <canvas id="doughnut-chart-production"></canvas>
      </div>
      <div class="doughnut-chart-container">
        <canvas id="doughnut-chart-downloads"></canvas>
      </div>
    </div>
    <div class="line-chart-container">
      <canvas id="line-chart"></canvas>
    </div>
  </div>
  <div class="team-container">
    <h1>TEAM</h1>
    <div class="team">
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Joss Sticks</h1>
          <h2 class="team-profession">UI/UX Designer</h2>
        </div>
      </div>
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Giles Posture</h1>
          <h2 class="team-profession">Product Designer</h2>
        </div>
      </div>
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Piff Jenkins</h1>
          <h2 class="team-profession">JS Developer</h2>
        </div>
      </div>
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Barry Tone</h1>
          <h2 class="team-profession">API Developer</h2>
        </div>
      </div>
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Jackson Pot</h1>
          <h2 class="team-profession">Python Developer</h2>
        </div>
      </div>
      <div class="team-info-container">
        <img src="../../../assets/img/team.png" />
        <div class="info">
          <h1 class="team-name">Brian Cumin</h1>
          <h2 class="team-profession">Project Analyst</h2>
        </div>
      </div>
    </div>
    <button class="btn-load-more" (click)="comingSoon()">Load More</button>
    <router-outlet></router-outlet>
  </div>
</section>