.contact-container {
  padding: 25px 20px;
  margin-top: 30px;
  border-radius: 10px 10px 10px 10px;
  background-color: #fafcfe;
  box-shadow: 3px 3px 5px #707070;
  max-height: 410px;
  overflow-y: scroll;
}

.contact-container::-webkit-scrollbar {
  width: 20px;
}

.contact-container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.contact-container::-webkit-scrollbar-thumb {
  border-radius: 50px 50px 50px 50px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(241, 241, 241);
}

.title {
  font-size: 1.5em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.last-infos {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.contacts {
  margin-top: 20px;
}

.contacts li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contacts li:last-of-type {
  margin-bottom: 0;
}

.img-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-image: url(../../../assets/img/people.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
}

.image img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info {
  margin-left: 20px;
}

.contact-name {
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
}

.contact-address {
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  color: #959393;
}

.loading {
  position: relative;
  margin-top: 20px;
}

.contacts-loaded {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  justify-content: center;
}

.contact-container-fixed {
  position: fixed;
  top: 70px;
}
