<section class="contact-container" (scroll)="onScroll($event)" #contact>
  <h2 class="title">Contacts</h2>
  <p class="last-infos">Last Payments Sent 2 Days Ago</p>
  <ul class="contacts">
    <div *ngIf="noContacts" class="no-contacts-container">
      <p>No contacts yet</p>
    </div>
    <li *ngFor="let contact of contacts">
      <div class="img-container">
        <div class="image">
          <img
            *ngIf="contact.image"
            [src]="convertBase64.converterBase64ParaImagem(contact.image)"
            alt="Profile"
          />
        </div>
      </div>
      <div class="contact-info">
        <p class="contact-name">{{ contact.name }}</p>
        <p class="contact-address">{{ contact.address }}</p>
      </div>
    </li>
    <li class="loading">
      <ngx-loading
        [show]="loading"
        [config]="{
          backdropBorderRadius: '3px',
          primaryColour: '#f4f4f4',
          secondaryColour: '#f4f4f4',
          tertiaryColour: '#f4f4f4'
        }"
      ></ngx-loading>
    </li>
    <li class="contacts-loaded" *ngIf="contactsLoaded">
      <p>Contatos carregados!</p>
    </li>
  </ul>
</section>

<!-- [src]="convertBase64.converterBase64ParaImagem(contact.image)" -->
