<div mat-dialog-container class="dialog-container">
  <div class="dialog-header">
    <p class="dialog-title">Editar Usuário</p>
    <span class="dialog-close" (click)="closeDialog()">x</span>
  </div>
  <div class="dialog-content">
    <label for="">Nome</label>
    <input type="text" />
    <label for="">Nome</label>
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" />
    <label for="">Nome</label>
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label> <input type="text" /><label
      for=""
      >Nome</label
    >
    <input type="text" /><label for="">Nome</label>
    <input type="text" />
  </div>
  <div class="dialog-footer">
    <button class="srd-btn">
      <i
        class="fa fa-floppy-o srd-btn-icon srd-btn-success"
        (click)="save()"
      ></i>
      Salvar
    </button>
    <button class="srd-btn srd-btn-cancel" (click)="closeDialog()">
      Cancelar
    </button>
  </div>
</div>
