<div mat-dialog-container class="dialog-container">
  <div class="dialog-header">
    <h1 class="dialog-title">Editar introdução</h1>
    <span class="dialog-close" (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
      </svg>
    </span>
  </div>
  <div class="dialog-content">
    <p class="dialog-content-required">* Indica item obrigatório</p>
    <form class="form-perfil-introducao" [formGroup]="perfil">
      <div class="row form-group">
        <div class="col-12">
          <label for="">Nome*</label>
          <input type="text" formControlName="perfilName" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Sobrenome*</label>
          <input type="text" formControlName="perfilLastName" class="form-control form-control-sm" />
        </div>
      </div>
      <h2 class="dialog-content-subtitle">Cargo atual</h2>
      <a id="dialog-link-job" class="dialog-link" (click)="editarPerfilJob()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" class="dialog-link-svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
        </svg>
        <span class="dialog-link-span">
          Adicionar novo cargo
        </span>
      </a>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Setor*</label>
          <input type="text" placeholder="Ex: varejo" formControlName="sector" class="form-control form-control-sm" />
        </div>
      </div>
      <h2 class="dialog-content-subtitle">Formação acadêmica</h2>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Formação acadêmica*</label>
          <select name="academicEducations" id="academicEducations" class="form-control form-control-sm">
            <option selected>Selecione</option>
          </select>
        </div>
      </div>
      <a id="dialog-link-education" class="dialog-link" (click)="editarPerfilEducation()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" class="dialog-link-svg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
        </svg>
        <span class="dialog-link-span">
          Adicionar nova formação acadêmica
        </span>
      </a>
      <div class="row form-group">
        <div class="col-12">
          <label class="container-checkbox">Exibir formação na minha introdução
            <input type="checkbox" checked="checked" formControlName="checkboxEducation" class="form-control form-control-sm">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <h2 class="dialog-content-subtitle">Endereço</h2>
      <div class="row form-group">
        <div class="col-12">
          <label for="">País/Região*</label>
          <input type="text" formControlName="country" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="cep">CEP*</label>
          <input type="text" class="form-control form-control-sm" id="cep" name="cep" formControlName="zipCode" (blur)="consultaCep()" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Logradouro*</label>
          <input type="text" formControlName="address" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Número</label>
          <input type="text" formControlName="number" #numberField class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Complemento</label>
          <input type="text" formControlName="complement" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Bairro*</label>
          <input type="text" formControlName="neighborhood" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Cidade*</label>
          <input type="text" formControlName="city" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label for="">Estado*</label>
          <input type="text" formControlName="state" class="form-control form-control-sm" />
        </div>
      </div>
      <h2 id="dialog-subtitle-contact">Informações de contato</h2>
      <span id="dialog-info-contact">
        Adicione ou altere a URL do seu perfil, o e-mail e muito mais
      </span>
      <a id="dialog-link-contact" class="dialog-link">
        <span class="dialog-link-span">
          Editar informações de contato
        </span>
      </a>
    </form>
  </div>
  <div class="dialog-footer">
    <button class="dialog-success" (click)="save()">Salvar</button>
    <button class="dialog-cancel" (click)="closeDialog()">Cancelar</button>
  </div>
</div>