#dialog-link-job {
  margin: 15px 0 20px 0;
}

#dialog-link-education {
  margin-top: 3px;
  margin-bottom: 10px;
}

#dialog-subtitle-contact {
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2a2a2a;
  margin: 25px 0px 5px 0px;
}

#dialog-info-contact {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
}

#dialog-link-contact {
  margin-top: 5px;
  margin-bottom: 5px;
}
