.dialog-content {
  padding: 0px !important;
  overflow-y: unset !important;
  display: flex;
  justify-content: center;
}

.cover-photo {
  position: relative;
  min-height: 196px;
  background-image: linear-gradient(to bottom, #6a0b88, #800080);
  background-size: cover;
  background-position: center;
}

.cover-photo.image-changed {
  background-image: none;
}

.cover-photo-background > img {
  width: 100%;
  max-height: 196px;
}

input[type="file"] {
  display: none;
}

.btn-photo {
  position: relative;
  width: 130px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  padding: 4px 0px 1px 0px;
  border-radius: 20px;
  border: 2px solid #7f408e;
  color: #7f408e;
  background-color: white;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-photo:hover {
  background-color: rgba(193, 130, 233, 0.241);
  border: 3px solid #7f408e;
}
