<div class="profile-container">
  <div class="profile-header">
    <p>My Profile</p>
    <img src="../../../assets/img/config.svg" alt="Config" />
  </div>
  <div class="profile-content">
    <div class="upload-circle">
      <div class="img-container ">
        <input type="file" (change)="fileChanged($event)" id="file-upload" class="file-upload-button">
        <img [src]="dados?.foto" />
      </div>
    </div>
    <p class="profile-name">{{dados?.perfilName}}</p>
    <p class="role">Admin</p>
    <ul class="actions">
      <li><a href="" class="person"></a></li>
    </ul>
  </div>
</div>