<div class="profile-container">
  <div class="profile-header">
    <p>My Profile</p>
    <img routerLink="/home/settings" src="../../../assets/img/config.svg" alt="Config" />
  </div>
  <div class="profile-content">
    <div class="upload-circle">
      <div class="img-container ">
        <img routerLink="perfil" [src]="dados?.foto" />
      </div>
    </div>
    <p class="profile-name">{{dados?.perfilName}}</p>
    <p class="role">{{formJob?.jobTitlePerfil}}</p>
    <ul class="actions">
      <li><a routerLink="/home/invitation" class="person"></a></li>
    </ul>
  </div>
</div>