<div class="profile-container">
  <div class="profile-header">
    <p>My Profile</p>
    <img src="../../../assets/img/config.svg" alt="Config" />
  </div>
  <div class="profile-content">
    <div class="img-container">
      <img src="../../../assets/img/profile.svg" alt="Config" />
    </div>
    <p class="profile-name">Jonas Cardoso</p>
    <p class="role">Admin</p>
    <ul class="actions">
      <li><a href="" class="clock"></a></li>
      <li><a href="" class="person"></a></li>
      <li><a href="" class="phone"></a></li>
    </ul>
  </div>
</div>
