.outer {
    height: 100vh;
    background: linear-gradient(to left, #E4DAF3 60%, #E4DAF3 80%) no-repeat;
    position: relative;
}

.button-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
}

.btn-link,
.btn-outline-dark {
    border: none;
    padding: 0;
    margin-left: 10px;
}



.panel-heading {
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}


.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
}











.color-button {
    background-color: #7F4080;
    border: none;
}

a {
    display: inline-block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    transition: border-color 0.3s ease;
    border: 1px solid transparent;
    border-radius: 30px;
}

a:hover {
    border-color: lightgrey;
    background-color: #aaa;
}