<section class="timeline">
  <div class="principal-info row form-group">
    <div class="share-now">
      <p>Publish Scientific Article It's Essential to Your Academic Success!</p>
      <button id="open-add-article" class="btn-share-now">Public Now</button>
      <div id="fade" class="hide"></div>
      <div id="add-article-container" class="hide">
        <div class="add-article-header">
          <h2>Scientific Article</h2>
          <button id="close-add-article">Fechar</button>
        </div>
        <div class="add-article-footer">
          <button id="button-file">Open file</button>
          <input
            type="file"
            id="file-input"
          />
          <button>Publish</button>
        </div>
      </div>
    </div>
    <div class="saved-items-container">
      <div class="items-container">
        <p class="items-title">SAVED ITEMS</p>
        <div class="items-lock">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill items-lock-svg" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>
          <span class="items-lock-span">Only me</span>
        </div>
        <div class="item-container">
          <img src="../../../assets/img/spacex.png" />
          <div class="item-name-container">
            <h1 class="item-name">The Falcon-9</h1>
          <div class="item-info-container">
            <p class="item-info">Publication</p>
            <p class="item-info">Elon Musk</p>
          </div>
          </div>
        </div>
        <div class="item-container">
          <img src="../../../assets/img/document.png" />
          <div class="item-name-container">
            <h1 class="item-name">Artificial Intelligence</h1>
            <div class="item-info-container">
              <p class="item-info">Article</p>
              <p class="item-info">Kai-Fu Lee</p>
            </div>
          </div>
        </div>
        <div class="show-more-container">
          <button class="show-more-btn">Show more</button>
        </div> 
      </div>
    </div>
  </div>
  <div class="row form-group">
    <p class="recent-pub">RECENT PUBLICATIONS</p>
  </div>
  <div class="recent-publications row form-group">
    <div class="recent-publication">
      <div class="recent-card">
        <img
          class="recent-img"
          src="../../assets/img/mundi.png"
          alt="Recent Image"
        />
        <p class="recent-title">The spirit of Ocean</p>
        <p class="recent-info">Owned by James John Markus</p>
        <button class="recent-button">Bid Now</button>
      </div>
    </div>
    <div class="recent-publication">
      <div class="recent-card">
        <img
          class="recent-img"
          src="../../assets/img/spacex.png"
          alt="Recent Image"
        />
        <p class="recent-title">The Falcon-9</p>
        <p class="recent-info">Owned by Elon Musk</p>
        <button class="recent-button">Bid Now</button>
      </div>
    </div>
    <div class="recent-publication">
      <div class="recent-card">
        <img
          class="recent-img"
          src="../../assets/img/animals.jpg"
          alt="Recent Image"
        />
        <p class="recent-title">Native African Animals</p>
        <p class="recent-info">Owned by National Geographic</p>
        <button class="recent-button">Bid Now</button>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="timeline-container pl-0">
      <p style="width: 100%; height: 1500px; background: tomato">
        TESTE TESTE TESTE TESTE
      </p>
    </div>
    <div class="ad-container pr-0">
      <div #pub>
        <div class="pub-container">
          <div class="pub d-flex" *ngFor="let item of publications">
            <img [src]="item.img" alt="Pub" />
            <div class="pub-info">
              <p>{{ item.title }}</p>
              <p>{{ item.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
