.timeline {
  display: flex;
}

.principal-info {
  width: 65%;
}

.share-now {
  background-image: url(/../assets/img/public-now.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  border-radius: 20px;
  height: 270px;
  margin-bottom: 20px;
}

.share-now p {
  color: #fbfdff;
  max-width: 250px;
  font-size: 20px;
  font-family: "IBM_Plex_Sans_Semi_Bold", sans-serif;
  margin-bottom: 30px;
}

.btn-share-now {
  background-color: #292d32;
  color: #ccc;
  border-radius: 25px;
  font-size: 14px;
  padding: 8px 0;
  width: 150px;
  outline: none;
  border: none;
}

.start-post-container {
  height: 125px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0px #0000008a;
}

.start-post {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.start-post img {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: darkgray;
  cursor: pointer;
  /*background-image: url(../../assets/img/people.svg);*/
}

.btn-start-post {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #969696;
  text-align: left;
  padding-left: 17px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  background-color: white;
}

.btn-start-post:hover {
  background-color: #dddddde0;
}

.start-post-buttons-container {
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
}

.start-post-button {
  display: inline-block;
  outline: none;
  height: 50px;
  padding: 13px 10px 10px 10px;
  border-radius: 5px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  margin: 3px 0px 3px 0px;
  border: none;
  cursor: pointer;
}

.start-post-button:hover {
  background-color: rgba(166, 165, 166, 0.241);
}

.start-post-button-svg {
  color: #7f408e;
  margin-right: 10px;
  position: relative;
  top: -2px;
}

.start-post-button-span {
  color: #666464;
  font-size: 14px;
}

.saved-pub-container {
  width: 35%;
}

.saved-items-container {
  padding-right: 0;
  height: 900px;
  margin-left: 10px;
}

.items-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-left: 15px;
  box-shadow: 1px 1px 3px 0px #0000008a;
}

.items-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Cousine-Bold", sans-serif;
  margin-bottom: 15px;
}

.items-lock {
  margin-bottom: 15px;
}

.items-lock-svg {
  color: #646464;
}

.items-lock-span {
  margin-left: 3px;
  font-size: 0.9em;
  color: #959393;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

.item-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0px;
  margin-bottom: 20px;
  cursor: pointer;
}

.item-container img {
  width: 45px;
  height: 45px;
}

.item-name-container {
  margin: 0px 0px 10px 10px;
}

.item-name {
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
}

.item-info-container {
  display: flex;
  margin-right: 10px;
}

.item-info {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 0.9em;
  color: #959393;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

.show-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-btn {
  border-radius: 30px;
  width: 180px;
  background-color: #ebebeb;
  padding: 5px 0 5px 0px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Popins-Regular, sans-serif;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0px #0000008a;
  width: 100%;
}

.post-header {
  padding: 20px 20px 8px 20px;
  display: flex;
  flex-direction: row;
}

.post-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: darkgray;
  cursor: pointer;
  /*background-image: url(../../assets/img/people.svg);*/
}

.post-header-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -3px;
}

.info-post {
  display: flex;
  flex-direction: row;
}

.name-user {
  text-decoration: none;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 500;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;;
  /*font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;*/
}

.name-user:hover {
  color: #7f408e;
  text-decoration: underline;
}

.user-contact {
  margin-left: 10px;
  font-size: 15px;
  color: #4e4e4e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.title-user {
  position: relative;
  max-height: 20px;
  overflow: hidden;
  top: -2px;
  font-size: 13px;
  color: #4e4e4e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.date-post {
  position: relative;
  max-height: 20px;
  overflow: hidden;
  top: -2px;
  font-size: 13px;
  color: #4e4e4e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.public-post {
  margin-left: 10px;
}

.post-body {
  padding: 0px 20px 0px 20px;
  text-align: justify;
  font-family: Helvetica;
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.post-info-reactions {
  display: flex;
  justify-content: flex-end;
  height: 33px;
  border-bottom: 1px solid #dddddd;
  margin-left: 20px;
  margin-right: 20px;
}

.post-comments {
  position: relative;
  max-height: 20px;
  overflow: hidden;
  top: 4px;
  font-size: 13px;
  color: #5e5e5e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

.post-comments:hover {
  color: #7f408e;
  text-decoration: underline;
}

.post-buttons-container {
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2px;
}

.post-button {
  display: inline-block;
  outline: none;
  height: 50px;
  padding: 13px 25px 10px 25px;
  border-radius: 5px;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  margin: 3px 0px 3px 0px;
  border: none;
  cursor: pointer;
}

.post-button:hover {
  background-color: rgba(166, 165, 166, 0.241);
}

.post-button-svg {
  color: #474747eb;
  margin-right: 6px;
  position: relative;
  top: -2px;
}

.post-button-span {
  color: #898989;
  font-size: 14px;
}

.react-me {
  font-family: Helvetica;
  cursor: pointer;
  display: block;
  position: relative;
}

.react-me .inner {
  position: absolute;
  bottom: 100%;
  padding-bottom: 15px;
}

.react-me:hover .react-box {
  display: block;
}

.react-box {
  list-style-type: none;
  margin: 0;
  display: none;
  padding: 2px 5px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.react-box ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.react-box li svg {
  display: inline-block;
  width: 38px;
  height: 38px;
  transform: scale(0.8) translateY(0);
  background-size: cover;
  transition: transform 200ms ease;
  position: relative;
  fill: #7f408e;
}

.react-box li:before {
  content: attr(data-hover);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 0 8px;
  border-radius: 20px;
  font-family: Helvetica, Verdana, Arial;
  font-weight: lighter;
  line-height: 20px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.76);
  display: none;
}

.react-box li:hover {
  transform: scale(1.3) translateY(-10px);
  transition: transform 200ms ease;
}

.react-box li:hover:before {
  display: inline-block;
}

.ad-container {
  padding-left: 25px;
  margin-top: 30px;
}

.pub-container {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 3px 3px 5px #707070;
  padding: 20px 10px;
}

.pub {
  margin: 10px 0;
}

.pub:first-of-type {
  margin-top: 0;
}

.pub:last-of-type {
  margin-bottom: 0;
}

.pub img {
  max-height: 200px;
  width: 50%;
  border-radius: 5px;
}

.pub-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.pub-info p {
  font-size: 14px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
}

.pub-info p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
}

.pub-container-fixed {
  position: sticky;
  top: 95px;
  right: 45px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .timeline {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }

  .principal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .share-now {
    width: 100%;
    margin: auto;
    background-image: none;
    background-color: #7f408e;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 185px;
  }

  .share-now p {
    font-size: 16px;
    font-family: "IBM_Plex_Sans_Semi_Bold", sans-serif;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  .btn-share-now {
    width: 100%;
    margin: auto;
    align-items: center;
    align-self: center;
  }

  .start-post-container {
    width: 100%;
  }

  .start-post img {
    width: 65px;
  }

  .start-post-button-svg {
    display: none;
  }

  .saved-items-container {
    display: none;
  }

  .timeline-container {
    width: 100%;
  }

  .post-buttons-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .post-header img {
    height: 50px;
  }

  .post-button {
    height: 45px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
  }

  .post-button-svg {
    display: none;
  }

  .ad-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .principal-info {
    width: 100%;
  }

  .share-now {
    display: none;
  }

  .start-post-container {
    margin-top: 40px;
  }

  .pub-container {
    display: none;
  }

  .saved-pub-container {
    display: none;
  }

  .timeline-container {
    width: 100%;
  }

  .recent-card {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .saved-items-container {
    display: none;
  }

  .share-now {
    width: 100%;
  }

  .post-button-svg {
    display: none;
  }

  .ad-container {
    margin-top: 0px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
