.principal-info {
}

.share-now {
  background-image: url(/../assets/img/public-now.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  border-radius: 20px;
  width: 65%;
}

.share-now p {
  color: #fbfdff;
  max-width: 250px;
  font-size: 20px;
  font-family: "IBM_Plex_Sans_Semi_Bold", sans-serif;
  margin-bottom: 30px;
}

.btn-share-now {
  background-color: #292d32;
  color: #ccc;
  border-radius: 25px;
  font-size: 14px;
  padding: 8px 0;
  width: 150px;
  outline: none;
  border: none;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

#add-article-container.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#add-article-container.hide {
  top: 0;
}

#add-article-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 4;
}

.add-article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1.2rem;
}

.add-article-footer {
  margin: 1rem;
}

input[type="file"] {
  display: none;
}

.visualization-container {
  width: 35%;
  padding-right: 0;
}

.visu-container {
  background: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 20px 10px;
}

.visu-title {
  font-size: 14px;
  text-align: center;
  font-family: "Cousine-Regular", sans-serif;
}

.subscriptions {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.subs-summary {
  text-align: center;
  font-size: 14px;
  color: #7e46b5;
}

.recent-pub {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Cousine-Bold", sans-serif;
}

.recent-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 35px 0;
  border-radius: 10px;
  min-height: 400px;
  max-height: 400px;
}

.recent-img {
  border-radius: 10px;
  min-height: 200px;
}

.recent-title {
  font-family: "Cousine-Bold", "sans-serif";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 15px;
  text-align: center;
  min-height: 30px;
}

.recent-info {
  font-family: "Cousine-Regular", "sans-serif";
  font-size: 1rem;
  color: #46b5a7;
  letter-spacing: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.recent-button {
  background: #292d32;
  color: #fff;
  width: 70%;
  border-radius: 20px;
  margin-top: 15px;
  padding: 5px 0;
  font-family: "Popins-Regular", "sans-serif";
}

.recent-button:hover {
  border: 2px solid #46b5a7;
  color: #46b5a7;
}

.recent-publications {
  justify-content: space-between;
}

.recent-publication {
  width: 30%;
}

.timeline-container {
  width: 65%;
}

.ad-container {
  padding-left: 2%;
  width: 35%;
}

.pub-container {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 3px 3px 5px #707070;
  padding: 20px 10px;
}

.pub {
  margin: 10px 0;
}

.pub:first-of-type {
  margin-top: 0;
}

.pub:last-of-type {
  margin-bottom: 0;
}

.pub img {
  max-height: 200px;
  width: 50%;
  border-radius: 5px;
}

.pub-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.pub-info p {
  font-size: 14px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
}

.pub-info p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
}

.pub-container-fixed {
  position: sticky;
  top: 95px;
  right: 45px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .timeline {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }

  .principal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .share-now {
    width: 100%;
    margin: auto;
    background-image: none;
    background-color: #7f408e;
    align-items: center;
    justify-content: center;
  }

  .share-now p {
    font-size: 16px;
    font-family: "IBM_Plex_Sans_Semi_Bold", sans-serif;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  .btn-share-now {
    width: 100%;
    margin: auto;
    align-items: center;
    align-self: center;
  }

  .recent-pub {
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .recent-publications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .recent-publication {
    width: 100%;
  }

  .visu-container {
    display: none;
  }

  .timeline-container {
    width: 100%;
  }

  .ad-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .principal-info {
    display: none;
  }

  .pub-container {
    display: none;
  }

  .timeline-container {
    width: 100%;
  }

  .timeline-container p {
    width: 100%;
  }

  .recent-publications {
    justify-content: space-between;
  }

  .recent-card {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .visualization-container {
    display: none;
  }

  .share-now {
    width: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
