<section class="game-content-container" (scroll)="onScroll($event)" #game>
  <div id="header-count">
    <h2 class="title">Games</h2>
    <p class="game-count">{{ games.length }} Games found</p>
  </div>

  <ul class="game-content">
    <div class="game-content-li">
      <li *ngFor="let game of games" class="game">
        <a href="{{ game.title }}">
          <img [src]="game.img" class="img-container" alt="Game" />
        </a>

        <div class="game-info">
          <a href="{{ game.title }}" class="game-name">{{ game.title }}</a>
          <p class="game-description">{{ game.desc }}</p>
        </div>
      </li>
    </div>
    <li class="loading">
      <ngx-loading
        [show]="loading"
        [config]="{
          backdropBorderRadius: '3px',
          primaryColour: '#f4f4f4',
          secondaryColour: '#f4f4f4',
          tertiaryColour: '#f4f4f4'
        }"
      ></ngx-loading>
    </li>
    <li class="games-loaded" *ngIf="gamesLoaded"></li>
  </ul>
</section>
