side-bar {
  visibility: none;
}

.games-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  padding: 10px 30px;
  flex-basis: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.principal-container {
  display: flex;
}

.info-container {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
}

.dynamic-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 30px 30px 20px 85px;
  background-color: #fff;
  border: 1px solid #00000066;
  border-radius: 10px;
}

.input-search {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: #939393;
  outline: none;
}

input::placeholder {
  color: #939393;
}

.img-container-search {
  display: flex;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}

.image-search {
  position: relative;
  width: 50px;
  height: 50px;
  top: 8px;
  left: -5px;
}

#header-count {
  display: block;
  position: fixed;
  padding-left: 30px;
  padding-top: 10px;
  width: 100%;
  height: 120px;
  z-index: 2;
  background-color: white;
}

.title {
  font-size: 3em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.game-count {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.game-content-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
  margin: 30px 0 0 0;
  background-color: #fff;
  overflow-y: scroll;
  max-height: 750px;
}

.game-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: start;
  margin-top: 120px;
  z-index: 1;
}

.game-content-li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 60px;
  margin: 30px 30px 0px 70px;
  background-color: #fff;
  justify-content: space-evenly;
}

.game {
  position: relative;
  width: 650px;
  max-height: 155px;
  background-color: #f7f7f7;
  margin-left: -50px;
}

.img-container {
  display: block;
  justify-content: left;
  height: 150px;
}

.img-container img {
  width: 300px;
  height: 150px;
}

.game-name {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  left: 280px;
  top: -140px;
  word-break: normal;
  width: 320px;
  color: black;
  text-decoration: none;
}

.game-description {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  left: 280px;
  top: -135px;
  word-break: normal;
  width: 320px;
  color: dimgrey;
  text-decoration: none;
}

.loading {
  position: relative;
  margin-top: 20px;
}

.games-loaded {
  font-family: Roboto-Light, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  justify-content: center;
}

@media (max-width: 800px) {
  #header-count {
    padding-left: 15px;
    padding-top: 5px;
    height: 60px;
    width: 100%;
  }

  .title {
    font-size: 1.5em;
  }

  .game-count {
    font-size: 0.7em;
  }

  .game-content-container {
    row-gap: 30px;
    column-gap: 30px;
    margin: auto;
    width: 100%;
    max-height: 750px;
    left: -80px;
  }

  .game-content {
    margin-top: 60px;
  }

  .game-content-li {
    row-gap: 25px;
    column-gap: 30px;
    margin: 15px 15px 0px 35px;
  }

  .game {
    position: relative;
    width: 325px;
    height: 100px;
    margin-left: -25px;
  }

  .img-container {
    display: block;
    justify-content: left;
    height: 75px;
  }

  .img-container img {
    width: 150px;
    height: 75px;
  }

  .game-name {
    font-size: 0.65rem;
    left: 140px;
    top: -80px;
    width: 160px;
  }

  .game-description {
    font-size: 10px;
    left: 140px;
    top: -82px;
    width: 180px;
  }
}
