<section class="container-sidebar">
  <img src="../../../assets/img/logo.svg" class="logo" alt="Logo" />
  <ul class="icon-container">
    <li class="active">
      <a routerLink="/home"><span class="icon icon-home"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon icon-people"></span></a>
    </li>
    <li>
      <a routerLink="/invitation"
        ><span class="icon icon-notification"></span
      ></a>
    </li>
    <li>
      <a href="#"><span class="icon icon-dashboard"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon icon-documents"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon icon-rating"></span></a>
    </li>

    <li>
      <a routerLink="/games"><span class="icon icon-controller"> </span></a>
    </li>

    <li>
      <a href="#"><span class="icon icon-config"></span></a>
    </li>
  </ul>
</section>
