<section class="container-sidebar">
  <img
    src="../../../assets/img/logo.svg"
    class="logo"
    alt="Logo"
    routerLink="/home"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  />
  <ul class="icon-container">
    <li
      routerLink="/home"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-home"></span></a>
    </li>
    <li
      routerLink="/home/perfil"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-people"></span></a>
    </li>
    <li
      routerLink="/home/invitation"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-notification"></span></a>
    </li>
    <li
      routerLink="/home/article-relevance"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-dashboard"></span></a>
    </li>
    <li
      routerLink="/home/edit-text"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-documents"></span></a>
    </li>
    <li>
      <a routerLink="/invitation"><span class="icon icon-rating"></span></a>
    </li>

    <li
      routerLink="/documents"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-documents"></span></a>
    </li>
    <li
      routerLink="/rating"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-rating"></span></a>
    </li>
    <li
      routerLink="/home/games"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a><span class="icon icon-controller"> </span></a>
    </li>
    <li routerLink="/home/config">
      <a><span class="icon icon-config"></span></a>
    </li>
  </ul>
</section>
