<div mat-dialog-container class="dialog-container">
  <div class="dialog-header">
    <h1 class="dialog-title">Editar informações de contato</h1>
    <span class="dialog-close" (click)="closeDialog()">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="20" 
        height="20" 
        fill="currentColor" 
        class="bi bi-x-lg" 
        viewBox="0 0 16 16"
      >
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </span>
  </div>
  <div class="dialog-content">
    <h2 class="subtitle-gray-contact">URL do perfil</h2> 
    <a 
      class="dialog-link" id="link-contact-url" 
    >
      <span class="dialog-link-span">https://www.schoolrecords.com/exemplo-url-665692171</span>
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="16" 
        height="16" 
        fill="currentColor" 
        class="bi bi-box-arrow-up-right svg-link-contact" 
        viewBox="0 0 16 16"
      >
        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
    </svg>
    </a>
    <h2 class="subtitle-gray-contact">E-mail</h2> 
    <a 
      class="dialog-link" id="link-contact-email" 
    >
      <span class="dialog-link-span">exemplo@gmail.com</span>
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="16" 
        height="16" 
        fill="currentColor" 
        class="bi bi-box-arrow-up-right svg-link-contact" 
        viewBox="0 0 16 16"
      >
        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
      </svg>
    </a>
    <div class="row form-group">
      <div class="col-12">
        <label for="">Número de telefone</label>
        <input 
          type="text" 
          formControlName="phoneNumber" 
          class="form-control form-control-sm"
        />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12">
        <label for="">Tipo de telefone</label>
        <select  
          formControlName="phoneType"
          class="form-control form-control-sm"
        >
          <option selected>Selecione</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label for="">Aniversário</label>
        <select  
          formControlName="birthday"
          class="form-control form-control-sm"
        >
          <option selected>Dia</option>
        </select>
      </div>
      <div class="col-md-4 dialog-content-date">
        <select 
          formControlName="birthdayMonth"
          class="form-control form-control-sm" 
        >
          <option selected>Mês</option>
        </select>  
      </div>
      <div class="col-md-4 dialog-content-date">
        <select 
          formControlName="birthdayYear"
          class="form-control form-control-sm" 
        >
          <option selected>Ano</option>
        </select>  
      </div>
    </div>
    <h2 class="dialog-contact-subtitle">Site</h2> 
    <a 
      class="dialog-link dialog-link-contact" 
      (click)="adicionarCamposSites()"
      >
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="25" 
        height="25" 
        fill="currentColor" 
        class="bi bi-plus dialog-button-svg" 
        viewBox="0 1 16 16"
      >
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
      <span class="dialog-link-span">Adicionar site</span>
    </a>
    <div id="dialog-container-site" >
      <div *ngFor="let site of sites; let i = index">
        <div class="row form-group">
          <div class="col-12">
            <label for="input{{ site.id }}">URL do site</label>
            <input 
              type="text" 
              id="input{{ site.id }}" 
              name="input{{ site.id }}" 
              formControlName="companyName" 
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <label for="select{{ site.id }}">Tipo de site</label>
            <select  
              id="select{{ site.id }}" 
              name="select{{ site.id }}"
              formControlName="jobType"
              class="form-control form-control-sm"
            >
              <option selected>Selecione</option>
            </select>
          </div>
        </div>
        <button class="dialog-button-delete" (click)="excluirCamposSite(i)">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            fill="currentColor" 
            class="bi bi-trash-fill dialog-button-delete-svg" 
            viewBox="0 0 16 16"
          >
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
          <span class="dialog-button-delete-span">Remover</span>
        </button>
        <div class="dialog-container-margin"></div>
      </div>
    </div>
    <h2 class="dialog-contact-subtitle">Mensagens instantâneas</h2> 
    <a 
      class="dialog-link dialog-link-contact" 
      (click)="adicionarCamposMessage()"
    >
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="25" 
        height="25" 
        fill="currentColor" 
        class="bi bi-plus dialog-button-svg" 
        viewBox="0 1 16 16"
      >
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
      <span class="dialog-link-span">Adicionar opção de mensagens</span>
    </a>
    <div id="dialog-content-message" >
      <div *ngFor="let message of messages; let i = index">
        <div class="row form-group">
          <div class="col-12">
            <label for="input{{ message.id }}">Nome de usuário</label>
            <input 
              type="text" 
              id="input{{ message.id }}" 
              name="input{{ message.id }}" 
              formControlName="companyName" 
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <label for="select{{ message.id }}">Serviço</label>
            <select  
              id="select{{ message.id }}" 
              name="select{{ message.id }}"
              formControlName="jobType"
              class="form-control form-control-sm"
            >
              <option selected >Selecione</option>
            </select>
          </div>
        </div>
        <button class="dialog-button-delete" (click)="excluirCamposMessage(i)">
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="16" 
            height="16" 
            fill="currentColor" 
            class="bi bi-trash-fill dialog-button-delete-svg" 
            viewBox="0 0 16 16"
          >
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
          <span class="dialog-button-delete-span">Remover</span>
        </button>
        <div class="dialog-container-margin"></div>
      </div>
    </div>
  </div>
  <div class="dialog-footer">
    <button class="dialog-success" (click)="save()">Salvar</button>
    <button class="dialog-cancel" (click)="closeDialog()">Cancelar</button>
  </div>
</div>
