<section class="forgot-password">
  <section class="header">
    <h1 [routerLink]="'/login'" class="logo">School Records</h1>
    <div class="button_header">
      <button [routerLink]="'/register'" class="btn2">Register</button>
    </div>
  </section>
  <section class="container">
    <div class="form-forgot">
      <div class="forgotPassword">
        <h1 class="title">Forgot Password?</h1>
        <p>Reset password in two quick steps</p>
  
        <div class="container-info">
          <input type="text" placeholder="Email or phone" />
          <button>Redefine password</button>
          <span [routerLink]="'/login'" class="toGoBack">To go back</span>
        </div>
      </div>
    </div>
  </section>  
</section>
