<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="button-container">
          <button class="btn btn-link text-dark" routerLink="/login">Sign in</button>
          <button class="btn btn-outline-dark" routerLink="/register">Join now</button>
        </div>
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Forgot password</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="emailForm">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="emailForm.controls['email'].dirty && emailForm.hasError('required','email')">
                  <input formControlName="email" type="email" placeholder="Email">
                </div>
              </div>
              <small *ngIf="emailForm.controls['email'].dirty && emailForm.hasError('required','email')" class="text-danger">*Email is required</small>

              <div class="form-inline fr mt-4">
                <p class="py-4 text-center small font-weight-normal">
                  We’ll send a verification code to this email if it matches an existing LinkedIn account.
                </p>
              </div>
              <button (click)="onSubmit()" type="submit" class="btn btn-primary color-button btn-block mt-4 w-100">Next</button>
              <div class="text-center pt-4 text-muted black"><a id="forget" routerLink="/login">Back</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>