* {
  box-sizing: border-box;
}

.forgot-password {
  background-color: #e4daf3;
}

.header > .logo {
  font-size: 1.5rem;
  padding: 10px 0px;
  margin-left: 29px;
  text-align: bold;
  font-family: IBM_Plex_Sans_Semi_Bold;
  color: #7f408e;
}

.logo:hover {
  color: #780a7e;
  font-weight: 600px;
  cursor: pointer;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.button_header > .btn2 {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: #7f408e;
  background-color: #fff;
  outline: none;
  font-size: 12px;
  font-family: OpenSans, sans-serif;
  color: #7f408e;
  font-weight: bold;
  margin-right: 30px;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.form-forgot {
  margin: 0 auto;
}

.forgotPassword {
  width: 400px;
  min-height: 324px;
  box-shadow: #000000 0px 2px 6px 0px;
  border-radius: 8px;
  background-color: white;
}

.title {
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  margin: 20px 0px 2px 20px;
  line-height: 42px;
}

p {
  margin: 0px 0px 2px 20px;
  font-size: 14px;
}

.container-info {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 40px auto;
}

.container-info > input {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.container-info > button {
  width: 360px;
  padding: 10px 30px;
  border-radius: 30px;
  border-style: solid;
  border-color: #7f408e;
  background-color: #7f408e;
  outline: none;
  font-size: 1rem;
  font-family: OpenSans, sans-serif;
  color: #fff;
  font-weight: bold;
}

.toGoBack {
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.toGoBack:hover {
  color: #780a7e;
  font-weight: 600px;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .forgotPassword {
    width: 350px;
    min-height: 324px;
    box-shadow: #000000 0px 2px 6px 0px;
    border-radius: 8px;
  }

  .container-info {
   width: 330px;
  }

  .container-info > button {
    width: 330px;
    padding: 0 auto;
    border-radius: 30px;
    border-style: solid;
    border-color: #7f408e;
    background-color: #7f408e;
    outline: none;
    font-size: 1rem;
    font-family: OpenSans, sans-serif;
    color: #fff;
    font-weight: bold;
  }
}
