.outer {
  height: 100vh;
  background: linear-gradient(to left, #E4DAF3 60%, #E4DAF3 80%) no-repeat;
  position: relative;
}

.button-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}

.btn-link,
.btn-outline-dark {
  border: none;
  padding: 0;
  margin-left: 10px;
}

.btn-link {
  padding-bottom: 6px;
}

.btn-link:hover {
  order: 2px solid #7F4080;
  background-color: #E4DAF3;
  color: #7F4080;
}

.btn-outline-dark {
  border: 2px solid #7F4080;
  background-color: #E4DAF3;
  color: #7F4080;
  padding: 6px 12px;
  margin-left: 15px;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}

#forget {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}


.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
}

.panel {
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
  margin-top: 100px;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
}

.input-field.error {
  border: 1px solid red;
  color: red;
}

input[type='email'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}


.bordert {
  border-top: 1px solid #aaa;
  position: relative;

}

.bordert::after {
  content: "or connect  with";
  position: absolute;
  top: -13px;
  left: 33%;
  background-color: #fff;
  padding: 0 8px;
}


.color-button {
  background-color: #7F4080;
  border: none;
}

a {
  display: inline-block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
  transition: border-color 0.3s ease;
  border: 1px solid transparent;
  border-radius: 30px;
}

a:hover {
  border-color: lightgrey;
  background-color: #aaa;
}