<div class="login-container">
  <div class="login-info">
    <img src="../../../assets/img/sr-logo-white.png" alt="School Records logo" width="150px" height="121px"
      id="logo-sr" />

    <h1 class="title">School Records</h1>
    <p>Connect with friends and the world around you on School Records.</p>
  </div>
  <div class="login">
    <div class="container container-login">
      <p class="has-account">
        Have account yet?
        <span [routerLink]="'/register'" class="register">Sign up</span>
      </p>
      <p class="sign-in">Sign in</p>
      <form class="form-login" [formGroup]="user">
        <div class="row form-group">
          <div class="col-12 userfield">
            <input type="text" placeholder="Username" formControlName="userName" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <div class="input-field password-field">
              <input [type]="type" placeholder="Password" formControlName="password" />
              <span id="toggleBtn" (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-12">
            <button class="btn-login" (click)="login($event)">Login</button>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <a [routerLink]="'/forgot-password'" class="forgot">Forgot password?</a>
        </div>

      </form>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
