.login-container {
  display: flex;
}

.login-info {
  background-color: #e4daf3;
  flex-grow: 1.8;
  flex-basis: 0;
  padding: 12% 0 0 7%;
  height: 100vh;
}

.title {
  color: #780a7e;
  font-size: 3.5rem;
  margin-bottom: 1.5%;
  font-family: "IBM_Plex_Sans_Semi_Bold", sans-serif;
}

.login-info p {
  max-width: 70%;
  font-size: 2.3rem;
  color: #7f408e;
  font-weight: bold;
  font-family: "IBM_Plex_Sans_Reg", sans-serif;
}

.login {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10% 0 0 0;
}

.container-login {
  padding-left: 10%;
}

.has-account {
  margin-bottom: 0;
  font-family: Nunito, sans-serif;
}

.has-account > span {
  color: #9441b7;
  font-weight: bold;
  font-family: Nunito, sans-serif;
}

.sign-in {
  font-size: 2.5rem;
  font-family: Nunit, sans-serif;
  font-weight: bold;
}

.form-login input {
  width: 400px;
  padding: 15px 30px;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.875rem;
  font-family: OpenSans, sans-serif;
}

.form-login input:focus {
  border-color: #65cbf3;
  background: none;
}

.btn-login {
  width: 400px;
  padding: 15px 30px;
  border-radius: 30px;
  border-style: solid;
  border-color: #7f408e;
  background-color: #7f408e;
  outline: none;
  font-size: 1rem;
  font-family: OpenSans, sans-serif;
  color: #fff;
  font-weight: bold;
}

.signup-label {
  text-align: center;
  font-family: Nunito, sans-serif;
  margin-top: 50px;
  max-width: 400px;
}

.btn-login.btn-login-google {
  margin-top: 10px;
  border-color: #7070702e;
  color: #000;
  background: none;
}

.btn-login.btn-login-google > svg {
  height: 20px;
}

.register {
  cursor: pointer;
}

/* RESPONSIVIDADE */

#logo-sr {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  #logo-sr {
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .login-container {
    flex-direction: column;
    max-width: 100vw;
  }

  .login-info {
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.5%;
  }

  .login-info p {
    max-width: 70%;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
  }

  .login {
    flex-grow: 0;
    flex-basis: 0;
    padding-top: 5%;
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .container-login {
    padding: 0;
    width: 100%;
  }

  .form-login {
    width: 100%;
    margin: auto;
  }

  .signup-label {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .form-login input {
    width: 90%;
  }

  .btn-login {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #logo-sr {
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .login-container {
    flex-direction: column;
    max-width: 100vw;
  }

  .login-info {
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.5%;
  }

  .login-info p {
    max-width: 70%;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
  }

  .login {
    flex-grow: 0;
    flex-basis: 0;
    padding-top: 5%;
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .container-login {
    padding: 0;
    width: 100%;
  }

  .form-login {
    width: 100%;
    margin: auto;
  }

  .signup-label {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .form-login input {
    width: 90%;
  }

  .btn-login {
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .login-info {
    flex-grow: 1.5;
  }

  .login {
    flex-grow: 1.5;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .login-info {
    flex-grow: 1.5;
  }

  .login {
    flex-grow: 1.5;
  }
}
